
//Colors

$primaryDesatured : hsl(0, 36%, 70%);
$SoftRed : hsl(0, 93%, 68%);
$DarkGrayish : hsl(0, 6%, 24%);

//Gradients
@mixin lightGradient {
    background: linear-gradient(135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
}

@mixin pinkGradient {
        background: linear-gradient(135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
}

//Typography

$font : 16px;
$fontFamily : 'Josefin Sans', sans-serif;
